.about.page-left {
    padding: 10vh 4vw 10vh 8vw;
}
.about.page-right {
    width: 50vw;
    // background: #ff0;
    padding: 12vh 8vw 10vw 0vw;
}
.about {
    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 1em;
        margin: 0 4vw 0 0;
    }
}
