.about {
    display: flex;
    flex-flow: row;

    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 1em;
        margin: 0 4vw 0 0;
    }

    .page-left,
    .page-right {
        display: flex;
        flex-direction: column;
    }

    .page-left {
        display: flex;
        flex-direction: column;
        padding: 10vh 4vw 10vh 8vw;
    }
    .page-right {
        padding: 12vh 8vw 10vw 0vw;
    }
}

@media only screen and (max-width: 767px) {
    .about {
        display: flex;
        flex-direction: column;
    }
}
