.about {
    display: flex;
    flex-flow: row;

    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 1em;
        margin: 0 4vw 0 0;
        color: $DarkGrayishBlue;
    }

    .page-left,
    .page-right {
        display: flex;
        flex-direction: column;
    }

    .page-left {
        display: flex;
        flex-direction: column;
        padding: 10vh 4vw 10vh 8vw;
    }
    .page-right {
        padding: 12vh 8vw 10vw 0vw;
    }
}
@media only screen and (max-width: 992px) {
    .about {
        padding: 4em 2em;
        h1 {
            font-size: 2em;
            line-height: 1.4em;
        }

        p {
            font-size: 1.15em;
            padding-top: 1em;
            line-height: 1.4em;
        }

        .page-left,
        .page-right {
            padding: 0;
        }
    }
}

@media only screen and (max-width: 767px) {
    .about {
        display: flex;
        flex-direction: column;
        padding: 0;
        .page-left {
            display: flex;
            flex-direction: column;
            width: 92vw;
            margin: 4em auto 0 auto;
            padding: 0;
            text-align: center;
            align-items: center;

            h1 {
                font-size: 2.2em;
            }

            p {
                font-size: 0.9em;
                padding: 1em 0.5em;
            }
        }

        .page-right {
            padding: 0;
            margin: 2em 0 2em 1em;
        }
    }
}
