.banner {
    background: $BrightRed;
    background-image: url(../assets/bg-tablet-pattern.svg),
        url(../assets/bg-tablet-pattern.svg);

    background-position: top -4em left -4em, bottom 2em right -38em;
    background-repeat: no-repeat;
    height: 12em;
    background-blend-mode: soft-light;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: $desktop-padding-side;

    .banner-text {
        font-size: 2.25em;
        font-weight: 700;
        width: 40%;
        color: $VeryLightGray;
    }
}
