.banner {
    background: $BrightRed;
    background-image: url(../assets/bg-tablet-pattern.svg),
        url(../assets/bg-tablet-pattern.svg);

    background-position: top -4em left -4em, bottom 2em right -38em;
    background-repeat: no-repeat;
    height: 12em;
    background-blend-mode: soft-light;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 $desktop-padding-side;

    .button {
        box-shadow: none;
    }

    .banner-text {
        font-size: 2.25em;
        font-weight: 700;
        width: 40%;
        color: $VeryLightGray;
    }
}

@media only screen and (max-width: 767px) {
    .banner {
        background-image: url(../assets/bg-tablet-pattern.svg);
        background-size: cover;
        background-position-x: -18em;
        background-position-y: 4em;

        height: auto;
        flex-direction: column;
        padding: 4em 1em;
        .banner-text {
            width: 100%;
            text-align: center;
            padding-bottom: 0.5em;
        }
    }
}
