.footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 8vh $desktop-padding-side;
    background: $VeryDarkBlue;
    color: $DarkGrayishBlue;

    .input-goBtn-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .input-goBtn-div {
            display: flex;

            .input {
                margin-right: 1em;
            }

            .button {
                box-shadow: none;
            }
        }

        .footer-copyright-p-desktop {
            font-size: 0.8em;
            text-align: right;
        }
    }

    .quickLinks-ul-section {
        display: flex;
        width: 100%;
        margin: 0 8em;
        justify-content: space-around;
        ul {
            list-style: none;
            line-height: 1.8em;
            font-size: 1em;
        }
    }

    .logos-section,
    .social-logo {
        display: flex;
        justify-content: space-between;
    }

    .logos-section {
        flex-direction: column;
    }
    .logo {
        width: 100%;
    }
    .social-logo {
        color: $VeryLightGray;
        font-size: 1.5em;
    }

    .footer-copyright-p {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        padding: 2em 0;

        .input-goBtn-section {
            margin: 0 auto;
            justify-content: space-between;
            width: 90%;

            .footer-copyright-p-desktop {
                display: none;
            }

            .input-goBtn-div {
                justify-content: space-between;
                .button {
                    margin: 0;
                }
            }
        }

        .quickLinks-ul-section {
            justify-content: space-around;
            margin: 0 auto;
            padding: 2em 0;
            width: 90%;
        }

        .logos-section {
            flex-direction: column-reverse;
            width: 90%;
            margin: 0 auto;
            // align-items: center;
            .logo {
                display: flex;
                justify-content: center;
                margin: 2em auto;
                padding: 0;
            }

            .social-logo {
                justify-content: space-between;
                font-size: 2em;
                padding: 0.4em 0.2em;
            }
        }

        .footer-copyright-p {
            display: block;
            text-align: center;
            font-size: 0.8em;
            margin: 0;
            padding: 0;
            line-height: 0.8em;
        }
    }
}
