.section-1 {
    background-image: url(../assets/bg-tablet-pattern.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -20vh;
    background-position-x: 54vw;
}
