.landing {
    display: flex;
    flex-flow: row;
    height: 85vh;
    h1 {
        line-height: 1.25em;
        margin: 0.5em 0;
        color: $DarkBlue !important;
    }

    p {
        font-size: 1.15em;
        padding-right: 8vw;
        line-height: 1.5em;
        padding-bottom: 2em;
        color: $DarkGrayishBlue !important;
    }
    .page-left {
        display: flex;
        flex-direction: column;
        width: 50vw;
        padding: 15vh 8vw;

        .button {
            width: max-content;
        }
    }

    .page-right {
        width: 50vw;
    }

    h1 {
        font-size: 3em;
        color: $VeryDarkBlue;
        // color: red;
    }
}

@media only screen and (max-width: 992px) {
    .landing {
        height: auto;
        padding: 0 2em;

        .page-left {
            padding: 0;
            height: auto;

            h1 {
                line-height: 1em;
                font-size: 2em;
            }
        }

        .page-right {
            width: 40vw;
            height: auto;

            img {
                filter: drop-shadow(10px 15px 35px $BrightRedShadow);
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .page {
        width: 100vw;
    }
    .landing {
        flex-direction: column-reverse;

        .page-right {
            position: relative;
            background-position: center top;
            background-size: cover;
            padding: 2em 0;
            width: 80vw;
            margin: 0 auto;
            height: auto;

            img {
                position: relative;
                margin-top: 20%;
            }
        }

        .page-left {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 92vw;
            margin: 0 auto;
            padding: 0;
            text-align: center;
            align-items: center;

            h1 {
                font-size: 2.2em;
            }
            p {
                font-size: 0.9em;
                padding: 0 0 2em 0;
            }

            .button {
                width: max-content;
            }
        }
    }
}
