.page {
}

.landing {
    display: flex;
    flex-flow: row;
    height: 85vh;
    h1 {
        line-height: 1.25em;
        margin: 0.5em 0;
        color: $DarkBlue !important;
    }

    p {
        font-size: 1.15em;
        padding-right: 8vw;
        line-height: 1.5em;
        padding-bottom: 2em;
        color: $DarkGrayishBlue;
    }
    .page-left {
        display: flex;
        flex-direction: column;
        width: 50vw;
        padding: 15vh 8vw;

        .button {
            width: max-content;
        }
    }

    .page-right {
        width: 50vw;
    }

    h1 {
        font-size: 3em;
        color: $VeryDarkBlue;
        // color: red;
    }
}
@media only screen and (max-width: 767px) {
    .page {
        width: 100vw;
    }
    .landing {
        flex-direction: column-reverse;
        .page-right {
            background-position: center top;
            background-size: 100%;
            padding: 0;
            width: 92vw;
            margin: 0 auto;
        }

        .page-left {
            display: flex;
            flex-direction: column;
            width: 92vw;
            margin: 0 auto;
            padding: 0;
            text-align: center;
            align-items: center;
            h1 {
                font-size: 2.2em;
            }
            p {
                font-size: 0.9em;
                padding-bottom: 2em;
            }

            .button {
                width: max-content;
            }
        }

        .page-right {
            width: 92vw;
            height: auto;
            padding: 0;
        }
    }
}
