.testimonials-page {
    display: flex;
    flex-direction: column;
    .header {
        h3 {
            text-align: center;
            font-size: 2em;
        }
    }
}

.testimonials-container-div {
    padding: 0 $desktop-padding-side;
}
