.testimonials-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8em;
    .header {
        h3 {
            padding-bottom: 2em;
            text-align: center;
            font-size: 2em;
        }
    }
    .button {
        width: max-content;
    }
}
.alice-carousel {
    padding-bottom: 2em;
}
.testimonials-cards-div {
    background-color: $VeryLightGray;

    display: flex;
    flex-direction: column;
    align-items: center;
    // width: 30em;
    margin: 4em 2em 0 2em;
    text-align: center;
    padding: 0 1em 1em 1em;

    h3 {
        padding: 0;
        margin: 0;
    }

    img {
        position: relative;
        top: -3em !important;
    }
}
