.testimonials-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8em;
    .header {
        h3 {
            padding-bottom: 2em;
            text-align: center;
            font-size: 2em;
            color: $DarkBlue;
        }
    }
    .button {
        width: max-content;
    }
}
.alice-carousel {
    padding-bottom: 2em;
}

.alice-carousel__dots {
    display: none;
}
.alice-carousel__prev-btn-wrapper,
.alice-carousel__next-btn-wrapper {
    font-size: 2em;

    p {
        color: $DarkGrayishBlue;
    }
}

.testimonials-cards-div {
    background-color: $VeryLightGray;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em 2em 0 2em;
    text-align: center;
    padding: 0 1em 1em 1em;

    h3 {
        padding: 0;
        margin-top: -1em;
        color: $DarkBlue;
    }

    img {
        position: relative;
        top: -3em !important;
    }

    p {
        color: $DarkGrayishBlue;
        padding-top: 1em;
    }
}

@media only screen and (max-width: 992px) {
    .testimonials-page {
        width: 92vw;
        padding: 0 0 2em 0;
        margin: 0 auto;

        .header {
            h3 {
                padding-bottom: 1em;
            }
        }

        .testimonials-cards-div {
            margin: 4em 0 0 0;
            padding: 0 1em 1em 1em;
            font-size: 0.8em;

            p {
                line-height: 1.8em;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    // .testimonials-page {
    //     width: 92vw;
    //     padding: 0 0 2em 0;
    //     margin: 0 auto;

    //     .header {
    //         h3 {
    //             padding-bottom: 1em;
    //         }
    //     }

    //     .testimonials-cards-div {
    //         margin: 4em 0 0 0;
    //         padding: 0 1em 1em 1em;
    //         font-size: 0.8em;

    //         p {
    //             line-height: 1.8em;
    //         }
    //     }
    // }

    .alice-carousel {
        padding: 0;
    }

    .alice-carousel__dots {
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    .alice-carousel__dots-item:not(.__custom):hover,
    .alice-carousel__dots-item:not(.__custom).__active {
        background-color: $BrightRed !important;
    }

    .alice-carousel__dots-item:not(.__custom) {
        border: 1px solid $BrightRed;
        background-color: $VeryLightGray !important;
    }

    .alice-carousel__prev-btn-wrapper,
    .alice-carousel__next-btn-wrapper {
        display: none;
    }
}
