.button {
    background: $BrightRed;
    border: none;
    border-radius: $radius;
    color: $VeryLightGray;
    padding: 1em 2em;
}

.invert-color {
    color: $BrightRed;
    background: $VeryLightGray;
    font-weight: 600;
}
