.button {
    background: $BrightRed;
    border: none;
    border-radius: $radius;
    color: $VeryLightGray;
    padding: 1em 2em;
    cursor: pointer;
    box-shadow: 0px 5px 10px $BrightRed;
    transition: $transitionEl;

    &:hover {
        opacity: $opacityEl;
    }

    &:focus {
        outline: $DarkGrayishBlue;
    }
}

.invert-color {
    color: $BrightRed;
    background: $VeryLightGray;
    font-weight: 600;
}
