.input {
    border-radius: $radius;
    width: 16em;
    font-size: 0.8em;
    border: none;
    color: $BrightRed;
    padding: 1em 2em;

    &:focus {
        outline: none;
        border: 2px solid $BrightRed;
        border-radius: $radius;
    }
}
