.navbar {
    height: 15vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 $desktop-padding-side;
    .logo {
        width: 10em;
        height: 4vh;
        background-image: url(../assets/logo.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .navbar-mid-contents {
        display: flex;
        flex-flow: row;

        li {
            margin: 0 1em;
            list-style: none;
            padding: 0.4em 1em;
            line-height: 1em;
            font-size: 1em;
            text-align: center;
            vertical-align: middle;
            color: $VeryDarkBlue;
            font-weight: 500;
            cursor: pointer;
            transition: $transitionEl;
            border-radius: 0.2em;

            &:hover {
                background-color: $BrightRed;
                color: $VeryLightGray;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .navbar {
        margin-bottom: 2em;
        margin: 0 auto;
        padding: 0 1.5em;

        .navbar-mid-contents,
        .button {
            display: none;
        }

        .logo {
            width: 8em;
        }
    }
}
