// Primary
$BrightRed: hsl(12, 88%, 59%);
$BrightRedShadow: hsl(12, 88%, 85%);
$DarkBlue: hsl(228, 39%, 23%);

// Neutral
$DarkGrayishBlue: hsl(227, 12%, 61%);
$VeryDarkBlue: hsl(233, 12%, 13%);
$VeryPaleRed: hsl(13, 100%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);

// Miscellaneous
$desktop-padding-side: 8vw;
$radius: 25px;

$transitionEl: 0.3s all;
$opacityEl: 0.8;
